<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
<div class="topnav">
  <a href="{{ url_for('index') }}">Home</a>
  <a href="{{ url_for('signup') }}">Register</a>
  <a href="{{ url_for('login') }}">Login</a>
</div>

<h1>Welcome to my plain site</h1>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
</body>
</html>
